.classroommenucard {
    width: 300;
    padding: 20px;
    background-color: #ffcccc;
    margin-top:83px;
  }

  .bclassroommenu{
    width:60%;
    margin-left:20%;
    margin-right:20%;
    background-color: #00e6ac;
    color: black ;
    border-color: #00e6ac;
    transition: background-color 1s;

  }

  .bclassroommenu:hover{
    background: #d4083b;
  }
  .classroommenuBox{
    height: 550px;
    width: 1315px;
    margin-top: 30px;
    background-color:#ffcccc;

}
.classroommenustyle {
  width: 100vw;
  height: 85vh;
  background-color: #A6A6ED;
  display: flex;
  /* padding-top: 20px; */
 /* align-items: center; */
  justify-content: center;
}

.tclassroommenu{
  font-weight: 600;
  color: black;
  font-family:'Lucida Sans ';
  font-size:'200px'
}


